<h3>使った金額</h3>
<div class = "mx-5">今月</div>
<div class = "mx-5 mb-5">
  <%= @cost_month %>
</div>

<h3>分析</h3>
<div>
  <%= pie_chart @chart %>
</div>

<h4>詳細</h4>
<% @chart.each do |category, cost| %>
  <%= category%>
  <%= cost %>
  <br>
<% end %>
