<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<p>使った金額</p>
<p>今月</p>
<%= @cost_month %>

<p>分析</p>
<%= pie_chart @chart %>

<p>詳細</p>
<% @chart.each do |category, cost| %>
  <%= category%>
  <%= cost %>
  <br>
<% end %>
